ol ul {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

.highlight.center {
    background-color: aqua;
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    border: 1px solid;
    color: rgb(12, 11, 100);
    background-color: gray;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 3px;
}

a:hover, a:active {
    background-color: greenyellow;
    color: purple;
}

section h1 {
    color:rgb(12, 11, 100);
    text-decoration: underline;
}

.GeneralYoutubeLinks {
    font-weight: 600;
}

ul li:nth-child(2):hover {
    font-size: 24px;
    cursor: pointer;
}